{% extends 'index.html' %} <!-- jinja 母版调用 -->
{% block title %} 每个区域的薪酬分布箱线图 {% endblock %} <!-- 对母版中名称为 name 的块进行填充 -->
{% block script %}
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
<script type="text/javascript">
  var dom = document.getElementById('container');
  var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
  });
  var app = {};
  var option;

  option = {
      title: [{
          text: "各区域的工资构成分布图",
          subtext: "数据来源: 51job",
      }],
      dataset: [{
              source: {{salary | tojson}} // 列表转 json 自带中括号, 案例的中括号记得删
          },
          {
              transform: {
                  type: 'boxplot',
                  print: true,
                  config: {
                      itemNameFormatter: function(p) { // 由于 itemNameFormatter 要求对 x-y 对应，也就是通过这个和 source 中的数据对应上，因此先将传来的地区分布数据存为 json 再按索引读取
                          areaJson = {{place | tojson}}
                          return areaJson[p.value]
                      }
                  }
              }
          },
          {
              fromDatasetIndex: 1,
              fromTransformResult: 1
          }
      ],
      tooltip: {
          trigger: 'item',
          axisPointer: {
              type: 'shadow'
          }
      },
      grid: {
          left: '10%',
          right: '10%',
          bottom: '15%'
      },
      xAxis: {
          type: 'category',
          boundaryGap: true,
          nameGap: 15,
          name: '地区',
          splitArea: {
              show: false
          },
          splitLine: {
              show: false
          },
          axisLabel:{
              interval: 0,
              rotate: 70
          },
      },
      yAxis: {
          type: 'value',
          name: '元 / 月',
          splitArea: {
              show: true
          }
      },
      series: [{
              name: '范围',
              type: 'boxplot',
              datasetIndex: 1
          },
          {
              name: '异常值',
              type: 'scatter',
              datasetIndex: 2
          }
      ]
  };

  if (option && typeof option === 'object') {
      myChart.setOption(option);
  }

  window.addEventListener('resize', myChart.resize);
</script>
{% endblock %}