{% extends "index.html" %}
{% block title %} 大数据工作类型和平均薪酬统计图 {% endblock %}
{% block script %}
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
<script type="text/javascript">
  var dom = document.getElementById('container');
  var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
  });
  var app = {};

  var option;

  option = {
      tooltip: {
          trigger: 'axis',
          axisPointer: {
              type: 'cross',
              label: {
                  backgroundColor: '#6a7985'
              }
          }
      },
      title: {
          text: "大数据工作类型和平均薪酬统计图",
          subtext: "数据来源: 51job",
      },
      xAxis: {
          type: 'category',
          name: '工作类型',
          data: {{workType|tojson}} // 由于涉及到中文 Unicode 符号因此需要进行 tojson
      },
      yAxis: {
          type: 'value',
          name: '平均 元 / 月'
      },
      series: [{
          data: {{salaryData}}, // 没有中文直接输出即可
          type: 'line',
          emphasis: {
              label: {
                  show: true
              },
          },
      }]
  };

  if (option && typeof option === 'object') {
      myChart.setOption(option);
  }

  window.addEventListener('resize', myChart.resize);
</script>
{% endblock %}